{{template "header"}}
<!-- WEST -->
<div id="west" class="w-full">
	<h1 class="font-bold">WEST</h1>
	{{template "topLeftBracket" .}}
</div>
<!-- SOUTH -->
<div id="south" class="w-full">
	<h1 class="font-bold">South</h1>
</div>
<!-- EAST -->
<div id="east" class="w-full">
	<h1 class="font-bold">EAST</h1>
	{{template "bottomLeftBracket" .}}
</div>
<!-- MIDWEST -->
<div id="midwest" class="w-full">
	<h1 class="font-bold">Midwest</h1>
</div>
<!-- FINALS -->
<div id="finals" class="w-full col-span-2 text-center">
	<h1 class="font-bold">{{ .Name }}</h1>
</div>

{{template "footer"}}