{{template "header"}}
<div class="grid grid-cols-2 grid-rows-1">
	<!-- WEST -->
	<div id="west" class="w-full">
		<h1 class="font-bold">WEST</h1>
		{{template "topLeftBracket" .}}
	</div>
	<!-- SOUTH -->
	<div id="south" class="w-full">
		<h1 class="font-bold text-right">SOUTH</h1>
		{{template "topRightBracket" .}}
	</div>
</div>

<!-- FINALS -->
<div id="finals" class="w-full h-auto mb-24">
	<h1 class="font-bold text-center">FINALS</h1>
	{{template "finals" .}}
</div>

<div class="grid grid-cols-2 grid-rows-1">
	<!-- EAST -->
	<div id="east" class="w-full">
		<h1 class="font-bold">EAST</h1>
		{{template "bottomLeftBracket" .}}
	</div>
	<!-- MIDWEST -->
	<div id="midwest" class="w-full">
		<h1 class="font-bold text-right">MIDWEST</h1>
		{{template "bottomRightBracket" .}}
	</div>
</div>

{{template "footer"}}